/* font links */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap");
/* -------- */

/* reset css */
* {
  margin: 0;
  padding: 0;
}
/* ------ */

/*  main container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}
/*  --------- */

/* first text box */
#text-box {
  text-align: center;
}

#text-box h2 {
  font-weight: 300;
  margin: 20px;
}

#text-box p {
  margin: 20px;
  font-size: small;
}

/* ------ */

/* from box */
#from {
  margin: 5px 0px 40px;
}

/* ------ */

img {
  width: 30rem;
}
