/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
}
.main-box {
  height: 65vh;
  width: 260px;
  margin-top: 15vh;
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 18px;
  /* font-family: "Outfit", sans-serif; */
  font-family: "Outfit", sans-serif;
}

#img-box,
img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 230px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 18px;
  border-radius: 10px;
}
img:hover {
  cursor: pointer;
}
#text-box {
  margin: 20px;
  font-size: 15px;
}
#time-price {
  display: flex;
  justify-content: space-between;
}
#bright {
  color: hsl(178, 100%, 50%);
  text-decoration: none;
}
p {
  color: hsl(215, 51%, 70%);
}
hr {
  border: 0.5px solid hsl(215, 51%, 70%);
}
span {
  margin-right: 2px;
}
